.hidden
    display: none;

.container
    padding: 0 !important;

h1
    font-size: 38px;
    line-height: 44px;
    letter-spacing: normal;
    margin-bottom: 10px;

.brand
    line-height: 60px;
    padding: 0 20px;
.progress-bar
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 120px;
    text-align: center;
.zone-card
    cursor pointer;
.map-area 
    position: relative;
.alert 
    width: 100%;

.floor_img 
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

.loginform-webflow 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

.div-block-9
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

.popup-box 
    margin-top: 60px;

h2    
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
.application--light
    background: none;
    color: #333;
.div-block-6
    width: 400px;

.w-input, .w-select
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;

.logindiv .layout
    display: block;
#search-box
    border: none;
    background: transparent;
    text-align: right;
    vertical-align: bottom;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;

body
  background-color: #e0e0e0;
  font-family: 'Notosanskr', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;



.brandtitle
  font-family: 'Futura', sans-serif;
  color: #202231;
  font-weight: 900;
  text-align: center;


html 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    color: #333;
.block-inline
    display: inline

.div-block-14.block-inline
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
.sensor-card
    cursor: pointer;

.card-detail-4
.card-detail-3
.card-detail-2
.card-detail-1
    padding: 0
    .container.fluid
        padding: 20px !important;

img.active-sensor
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);

.div-block-2.active-sensor
    background-color: #fff;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);


.text-block-6.alerts
  color: #fff;

.div-block-alerts
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;

.div-block-alerts
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

.text-block-3.alerts 
  color: #fff;

.div-block-2.alerts
  background-color: #ff4f67;


.div-block-2.alerts:hover
  background-color: rgba(255, 79, 103, .9);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);

.color-red
    color:  rgba(255, 79, 103, .9);

.input-group__details 
    display none;

.picker--date__title-date 
    font-size: 20px;


.text-block-3.alerts
  color: #fff;

.div-block-2.alerts
  background-color: #ff4f67;


.div-block-2.alerts:hover
  background-color: #fe405a;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);

.div-block-17.right 
    float inherit !important;
.picker__title
    background: #ff4f67;


.application .theme--light.picker--date .picker--date__table table .btn--date-picker:after
    background:  #ff4f67;
