.navbarside {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
  padding-top: 60px;
  background-color: #202231;
  color: #202231;
}

.menu-button {
  width: 60px;
  height: 60px;
  color: #fff;
}

.menu-button:hover {
  background-color: #6a6d7e;
}

.menu-button.w--open {
  background-color: #202231;
}

.nav-menu {
  background-color: #202231;
  color: #fff;
}

.nav-menu.sidebar {
  padding-top: 60px;
  background-color: #202231;
}

.nav-link {
  display: block;
  height: 60px;
  color: #fff;
}

.nav-link:hover {
  background-color: #6a6d7e;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1001;
  height: 60px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #202231;
}

.brand {
  padding: 20px;
  color: #fff;
}

.brand:hover {
  background-color: #6a6d7e;
}

.link-block {
  width: 60px;
  height: 60px;
  padding: 20px;
}

.link-block:hover {
  background-color: #6a6d7e;
}

.link-block.w--current {
  background-color: #3f4255;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.link-block-2:hover {
  background-color: #6a6d7e;
}

.link-block-2.w--current {
  background-color: #3f4255;
}

.link-block-2.arrow {
  padding-right: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.link-block-2.arrow.w--current {
  background-color: #333;
}

.text-block {
  margin-left: 20px;
  color: #fff;
  text-align: left;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block-2 {
  font-family: 'Futura font', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.section {
  margin-top: 60px;
  padding: 20px;
}

.section.top {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section.bottom {
  padding-bottom: 20px;
}

.section.zone {
  margin-left: 60px;
}

.container-2 {
  background-color: #0098ff;
}

.section-2 {
  margin-left: 60px;
  padding: 20px;
  background-color: #f3f3f3;
}

.text-block-3 {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
}

.text-block-4 {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
}

.div-block-2 {
  display: inline-block;
  width: 23%;
  margin: 20px 1%;
  background-color: #a3a3a3;
  text-decoration: none;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3.home {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.text-block-5 {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.link {
  margin-right: 5px;
  margin-left: 5px;
  color: #333;
  text-decoration: none;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4.search {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image {
  margin-right: 5px;
  margin-left: 5px;
}

.heading {
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: 600px;
  margin-right: 1%;
  margin-left: 1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #a3a3a3;
}

.body {
  background-color: #e0e0e0;
  font-family: 'Notosanskr webfont', sans-serif;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991px) {
  .text-block-3 {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 40px;
  }
  .text-block-4 {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .div-block-2 {
    width: 30.33%;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  .div-block-5 {
    width: 97%;
    height: 400px;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
}

@media (max-width: 767px) {
  .text-block-3 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 20px;
  }
  .text-block-4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .div-block-2 {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .div-block-3 {
    height: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .div-block-4 {
    width: 100%;
  }
  .div-block-5 {
    width: 98%;
    height: 300px;
    margin-right: 1%;
    margin-left: 1%;
  }
}

@media (max-width: 479px) {
  .text-block-3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 20px;
  }
  .text-block-4 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .div-block-2 {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }
  .div-block-5 {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }
}

@font-face {
  font-family: 'Notosanskr webfont';
  src: url('~/assets/fonts/notosanskr-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('~/assets/fonts/Futura-Heavy-font.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Notosanskr webfont';
  src: url('~/assets/fonts/notosanskr-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
